{% extends 'base.html' %}

{% block title %}
<title>Онлайн магазин</title>
{% endblock %}

{% block body %}


<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
  </symbol>
</svg>


  <header>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis"></h1>
      <p class="fs-5 text-body-secondary">
        <a href="/basket/Серверы" class="btn btn-secondary">Серверы</a>
        <a href="/basket/Коммутаторы" class="btn btn-secondary">Коммутаторы</a>
        <a href="/basket/Роутеры" class="btn btn-secondary">Роутеры</a>
      </p>

    </div>
  </header>
<div class='gallery'>
  <ul>




<div class="container py-3">
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      {%for el in data  %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{el.tov_num.name}}</h4>


          </div>
          <img class="card-img-top" src="/static/{{ el.tov_num.image }}">
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">

              <li>{{el.price}} руб</li>
              <li>Количество: {{el.quantity}} </li>

            </ul>

            <a href="/pay/{{el.id_tov}}" class="w-100 btn btn-lg btn-outline-primary">Оплатить</a>
            <form action="/back/{{el.id_tov}}" method="post">
              <input type="submit" value="Удалить" onclick="return confirm('Точно удалить?')">
              </form>

          </div>
        </div>
      </div>
        {% endfor %}
    </div>
  </main>
</div>
 </ul>
</div>


{% endblock %}