{% extends 'base.html' %}

{% block title %}
{{ data.name }}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{{ data.name }} </h1>

    <div class="alert alert-info">
        <img src="../static/{{ data.image }}">
        <p><b>Характеристики: {{data.haracteristic}} </b></p>
        <p><b>Страна производитель: {{data.countr.title}} </b></p>
        {% if data.quantity > 0 %}
            <p><b>Наличие: {{data.quantity}} </b></p>
        {% else %}
            <p><b>Наличие: Нет в наличии </b></p>
        {% endif %}
        <p><b>Цена: {{data.price}} руб</b></p>
        {% if current_user.is_authenticated and data.quantity > 0 %}
           <a class="w-100 btn btn-lg btn-outline-primary" href="/order/{{data.id}}">В корзину</a>

        {% endif %}

        <div>{{ message }}</div>
    </div>


</div>

{% endblock %}

