{% extends 'base.html' %}

{% block title %}
<title xmlns="http://www.w3.org/1999/html">Онлайн магазин</title>
{% endblock %}

{% block body %}
<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
      <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (light)">
  <svg class="bi my-1 theme-icon-active" aria-hidden="true"><use href="#sun-fill"></use></svg>
  <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
</button>
<ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
  <li>
    <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="true">
      <svg class="bi me-2 opacity-50" aria-hidden="true"><use href="#sun-fill"></use></svg>
      Light
      <svg class="bi ms-auto d-none" aria-hidden="true"><use href="#check2"></use></svg>
    </button>
  </li>
  <li>
    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
      <svg class="bi me-2 opacity-50" aria-hidden="true"><use href="#moon-stars-fill"></use></svg>
      Dark
      <svg class="bi ms-auto d-none" aria-hidden="true"><use href="#check2"></use></svg>
    </button>
  </li>
  <li>
    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
      <svg class="bi me-2 opacity-50" aria-hidden="true"><use href="#circle-half"></use></svg>
      Auto
      <svg class="bi ms-auto d-none" aria-hidden="true"><use href="#check2"></use></svg>
    </button>
  </li>
</ul>

    </div>


<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
  </symbol>
</svg>


  <header>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis"></h1>
      <p class="fs-5 text-body-secondary">
        <a href="/index/Серверы" class="btn btn-secondary">Серверы</a>
        <a href="/index/Коммутаторы" class="btn btn-secondary">Коммутаторы</a>
        <a href="/index/Роутеры" class="btn btn-secondary">Роутеры</a>

      </p>
      <form method="post">
          <input type="text" class="form-control" name="search" id="search" placeholder="Поиск">
          <button class="btn btn-success" type="submit">Найти</button>
      </form>
    </div>
  </header>
<div class='gallery'>
  <ul>



{%for el in data  %}
<div class="container py-3">
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{el.name}}</h4>


          </div>
          <img  src="../static/{{ el.image }}">
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">

              <li>{{el.price}} руб</li>

            </ul>

            <a href="/index/{{el.id}}" class="w-100 btn btn-lg btn-outline-primary">Подробнее</a>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
 </ul>
</div>

{% endfor %}
{% endblock %}